.home {

    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 66%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;

}

.btn {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
}

.parag {
  text-align: center;
}

.flot {
  float: left;
}

  /* {
    border: none;
    padding: 6px 40px;
    background-color: rgba(231, 102, 16, 0.667);
    color: white;
    font-size: 18px;
}  */

